{% extends 'layout.html' %}
{% block body %}
<!-- Container (About Section) -->
<div id="portfolio" class="container-fluid">
  <div class="row">
  <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo" style="line-height:1.8;"></span>
    </div>
    <div class="col-sm-4">
      <h2>List of cost: </h2>
      <h4>Bed charge: ${{ ward_cost * stay_in_days }}<span class="glyphicon glyphicon-arrow-up" style="color:red;">$9000/day</span></h4>
      <p style="font-size:14px; margin-top:-1cm">(Bed charge = ward * no. of days of hospital stay)</p>
      <ul>
      <li>Ward: {{ ward }}</li>
      <li>No. of days of hospital stay: {{ stay_in_days }}</li>
     </ul>
     <h4>Medical Fee: ${{ medicine_cost }}</h4>
     <ul>
         {% for i, j in med.items() %}
             {% if j["medName"] == "Dextromethorphan (Cough)" %}
                 <li>{{ j["medName"] }}: $20</li>
             {% elif j["medName"] == "Paracetamol (Cold)" %}
                 <li>{{ j["medName"] }}: $5</li>
             {% elif j["medName"] == "Acetaminophen (Fever)" %}
                 <li>{{ j["medName"] }}: $10</li>
             {% elif j["medName"] == "Antiemetic (Nausea)" %}
                 <li>{{ j["medName"] }}: $15</li>
             {% elif j["medName"] == "Diclofenac (Stomach Ache)" %}
                 <li>{{ j["medName"] }}: $10</li>
             {% endif %}
         {% endfor %}
     </ul>
      <!--<h4>Operation: ${{ operation }}</h4>-->
        <br><button class="btn btn-default btn-lg"><a href="/payment/">Pay now/More Details?</a></button>
    </div>
   <div class="col-sm-4">
      <h2><span class="glyphicon glyphicon-info-sign" style="font-size:40px"></span>Did you know? 9 out of 10 of your neighbour pay their bills on time</h2>
   </div>
   <div class="col-sm-12">
      <h2>Total Hospital Bill: ${{ medicine_cost }}</h2>
   </div>
  </div>
</div>



<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}

