<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Company</title>
  <meta charset="utf-8">
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/template.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 {% block additionalscripts %}    {% endblock %}
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- navbar & jumbotron -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/nursecallpage/">NURSE CALL</a></li>
        <li><a href="/patient_info/">PATIENT'S INFORMATION</a></li>
        <li><a href="/billing/">BILLING</a></li>
        <li><a href="/remote_doctor/">REMOTE DOCTOR</a></li>
        <li><a href="/speech_to_text/">SPEECH-TO-TEXT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>iCare</h1>
  <p>Helping you always!</p>
</div>
<div class="container-fluid">
    {% include 'includes/_message.html' %}
</div>

    {% block body %}{% endblock %}
</body>
</html>
