<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/template.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 {% block additionalscripts %}    {% endblock %}
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- navbar & jumbotron -->
{%  if session["logged_in_staff"] == True %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/staff_profile/" class="navbarli">PROFILE</a></li>
        <li><a href="/trainee_notes/" class="navbarli">MESSAGE FORUM</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/nursecallpage/">NURSE CALL</a></li>
        <li><a href="/patient_info/{{ session["patient_url"] }}">PATIENT'S INFORMATION</a></li>
        <li><a href="/billing/">BILLING</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
<div class="jumbotron text-center">
  <h1>iCare</h1>
  <p>Helping you always!</p>
</div>
<div class="container-fluid">
    {% include 'includes/_message.html' %}
</div>

    {% block body %}{% endblock %}
</body>
</html>

