{% extends 'layout.html' %}
{% block body %}

    {% from "includes/_formhelper.html" import render_field %}
{% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

    <script>
    $(document).ready(function () {
        $('.food').hide();

        $('input[type="radio"]').click(function () {
{#            alert($(this).attr('value'));#}
        if ($(this).attr('value') === 'Indian Cuisine') {
            $('.food').hide();
            $('#indian').show();

        }
        else if ($(this).attr('value') === 'Malay Cuisine') {
            $('.food').hide();
            $('#malay').show();

        }
        else if ($(this).attr('value') === 'Chinese Cuisine') {
            $('.food').hide();
            $('#chinese').show();

        }
        else if ($(this).attr('value') === 'Western Cuisine') {
            $('.food').hide();
            $('#western').show();

        }
        else if ($(this).attr('value') === 'International Cuisine') {
            $('.food').hide();
            $('#international').show();

        }
        else {
            $('.food').hide();
        }
        });

        var foodType = $('input[name=foodname]:checked').val();
{#        alert(foodType);#}
        if (foodType === 'Indian Cuisine') {
            $('.food').hide();
            $('#indian').show();

        }
        else if (foodType === 'Malay Cuisine') {
            $('.food').hide();
            $('#malay').show();

        }
        else if (foodType === 'Chinese Cuisine') {
            $('.food').hide();
            $('#chinese').show();

        }
        else if (foodType === 'Western Cuisine') {
            $('.food').hide();
            $('#western').show();

        }
        else if (foodType === 'International Cuisine') {
            $('.food').hide();
            $('#international').show();

        }
        else {
            $('.food').hide();
        }
        $('#configreset').click(function(){
            $('#configform')[0].reset();
        });
    });

    </script>
<main class="container signup-section">
    <h1 style="text-align: center;"> Menu </h1>
    <div class="section-content">
      <h3> Select food choice </h3>
        <h3><strong><em> Day {{ days }}
            {% if 11 >= hours >= 7 %}
                <h4> Breakfast (will be served 30 minutes after your order) </h4>
            {% elif  14 > hours > 11 %}
                <h4> Lunch (will be served 30 minutes after your order) </h4>
            {% elif 22 > hours > 17 %}
                <h4> Dinner (will be served 30 minutes after your order) </h4>
            {% else %}
                <h4> Extra order </h4>
            {% endif %}
        </em></strong> </h3>
        <h4 style="color:red"> <em>Please select only one option!</em> </h4>
        <h4 style="color:red"> <em> Re-Ordering your food for the same meal will update it! </em></h4>
        <h5> <em>*All options are halal* </em> </h5>
        <form method="POST" action="/menu/">

            <div class="form-group" style="margin:30px;" id="foodname">
                {{  render_field(form.foodname,style="list-style:none;") }}
            </div>

            <div  style="margin:30px;" id="indian" class="food" onclick="$(this).show()">
                {{  render_field(form.indian,style="list-style:none;") }}
                <label for="indian-0"><p style="margin:1px;"> Appam </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/appam.JPG"></label>
                <label for="indian-1"><p style="margin:1px"> Prata </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/prata.jpg"/></label>
                <label for="indian-2"><p style="margin:1px"> Nasi Briyani </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/nasi%20briyani.jpg"/></label>
            </div>
{##}
            <div  style="margin:30px;" id="malay" class="food" onclick="$(this).show() ">
                {{  render_field(form.malay,style="list-style:none;") }}
                <label for="malay-0"><p style="margin:1px;"> Mee Rebus </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/mee%20rebus.jpg"></label>
                <label for="malay-1"><p style="margin:1px;"> Nasi Lemak </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/nasi%20lemak.jpg"></label>
                <label for="malay-2"><p style="margin:1px;"> Mee Siam </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/mee%20siam.jpg"></label>
            </div>
{##}
            <div  style="margin:30px;" id="chinese" class="food" onclick="$(this).show()">
                {{  render_field(form.chinese,style="list-style:none;") }}
                <label for="chinese-0"><p style="margin:1px;"> Chicken Rice </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/chicken%20rice.jpg"></label>
                <label for="chinese-1"><p style="margin:1px;"> Shredded Chicken Porridge </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/shredded%20chicken%20porridge.jpg"></label>
                <label for="chinese-2"><p style="margin:1px;"> Handmade Noodles </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/ban%20mian.jpg"></label>
            </div>

            <div  style="margin:30px;" id="western" class="food" onclick="$(this).show()">
                {{  render_field(form.western,style="list-style:none;") }}
                <label for="western-0"><p style="margin:1px;"> Chicken Chop </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/chicken%20chop.jpg"></label>
                <label for="western-1"><p style="margin:1px;"> Fish & Chips </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/fish%20&%20chips.jpg"></label>
                <label for="western-2"><p style="margin:1px;"> Bolognese Spaghetti </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/bolognese%20spaghetti.jpg"></label>
            </div>
{##}
            <div  style="margin:30px;" id="international" class="food" onclick="$(this).show()">
                {{  render_field(form.international,style="list-style:none;") }}
                <label for="international-0"><p style="margin:1px;"> Paella </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/paella.jpg"></label>
                <label for="international-1"><p style="margin:1px;"> Swedish Meatballs  </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/swedish%20meatballs%20&%20mashed%20potatoes.jpg"></label>
                <label for="international-2"><p style="margin:1px;"> Mediterranean Grilled Bass </p><img style="width:180px;height:120px;border-radius:10px;margin:10px;" src="/static/images/mediterranean%20sea%20bass.jpeg"></label>
            </div>
{##}
{#            <div class="form-group" style="margin:30px;">#}
{#                {{ render_field(form.patientname ,placeholder="Patient Name") }}#}
{#            </div>#}

{#            <div class="form-group" style="margin:30px;">#}
{#                {{  render_field(form.qty) }}#}
{#            </div>#}
            <div style="display:inline" >
                <input type="reset" id="configreset" value="Reset" class="button-menu" style="padding:5px;font-size: 20px;width:100px">
            </div>
            <div style="display:inline">
                {{ render_field(form.submit ,class="button-menu", value="Enter",style="padding:5px;font-size:20px;width:100px") }}
                <label for="submit"> </label>
            </div>
{#            <div style="display:inline" >#}
{#                <input type="submit" id="configreset" value="Update" class="button-menu" style="padding:5px;font-size: 20px;width:100px">#}
{#            </div>#}
        </form>
    </div>
</main>



<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
