{% extends 'layout.html' %}
{% block body %}

    {% from "includes/_formhelper.html" import render_field %}
{% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

    <script>
    $(document).ready(function () {
        $('.food').hide();

        $('input[type="radio"]').click(function () {
            alert($(this).attr('value'));
        if ($(this).attr('value') === 'Indian Cuisine') {
            $('.food').hide();
            $('#indian').show();

            $('#malay').reset();
            $('#chinese').reset();
            $('#western').reset();
            $('#international').reset();
        }
        else if ($(this).attr('value') === 'Malay Cuisine') {
            $('.food').hide();
            $('#malay').show();

            $('#indian').reset();
            $('#chinese').reset();
            $('#western').reset();
            $('#international').reset();
        }
        else if ($(this).attr('value') === 'Chinese Cuisine') {
            $('.food').hide();
            $('#chinese').show();

            $('#malay').reset();
            $('#indian').reset();
            $('#western').reset();
            $('#international').reset();
        }
        else if ($(this).attr('value') === 'Western Cuisine') {
            $('.food').hide();
            $('#western').show();

            $('#malay').reset();
            $('#chinese').reset();
            $('#indian').reset();
            $('#international').reset();
        }
        else if ($(this).attr('value') === 'International Cuisine') {
            $('.food').hide();
            $('#international').show();

            $('#malay').reset();
            $('#chinese').reset();
            $('#western').reset();
            $('#indian').reset();
        }
        else {
            $('.food').hide();
        }
        });

        var foodType = $('input[name=foodname]:checked').val();
{#        alert(foodType);#}
        if (foodType === 'Indian Cuisine') {
            $('.food').hide();
            $('#indian').show();

            $('#malay').reset();
            $('#chinese').reset();
            $('#western').reset();
            $('#international').reset();
        }
        else if (foodType === 'Malay Cuisine') {
            $('.food').hide();
            $('#malay').show();

            $('#indian').reset();
            $('#chinese').reset();
            $('#western').reset();
            $('#international').reset();
        }
        else if (foodType === 'Chinese Cuisine') {
            $('.food').hide();
            $('#chinese').show();

            $('#malay').reset();
            $('#indian').reset();
            $('#western').reset();
            $('#international').reset();
        }
        else if (foodType === 'Western Cuisine') {
            $('.food').hide();
            $('#western').show();

            $('#malay').reset();
            $('#chinese').reset();
            $('#indian').reset();
            $('#international').reset();
        }
        else if (foodType === 'International Cuisine') {
            $('.food').hide();
            $('#international').show();

            $('#malay').reset();
            $('#chinese').reset();
            $('#western').reset();
            $('#indian').reset();
        }
        else {
            $('.food').hide();
        }
    });

    </script>
<main class="container signup-section">
    <div class="section-content">
      <h2> Select food choice </h2>
        <h3> Day {{ days }} </h3>
        <form method="POST" action="/menu/">

            <div class="form-group" style="margin:30px;" id="foodname">
                {{  render_field(form.foodname,style="list-style:none;") }}
            </div>

            <div  style="margin:30px;" id="indian" class="food" onclick="$(this).show()">
                {{  render_field(form.indian,style="list-style:none;") }}
            </div>
{##}
            <div  style="margin:30px;" id="malay" class="food" onclick="$(this).show()">
                {{  render_field(form.malay,style="list-style:none;") }}
            </div>
{##}
            <div  style="margin:30px;" id="chinese" class="food" onclick="$(this).show()">
                {{  render_field(form.chinese,style="list-style:none;") }}
            </div>

            <div  style="margin:30px;" id="western" class="food" onclick="$(this).show()">
                {{  render_field(form.western,style="list-style:none;") }}
            </div>
{##}
            <div  style="margin:30px;" id="international" class="food" onclick="$(this).show()">
                {{  render_field(form.international,style="list-style:none;") }}
            </div>
{##}
{#            <div class="form-group" style="margin:30px;">#}
{#                {{ render_field(form.patientname ,placeholder="Patient Name") }}#}
{#            </div>#}

{#            <div class="form-group" style="margin:30px;">#}
{#                {{  render_field(form.qty) }}#}
{#            </div>#}

            <div class="form-group" style="margin:30px;">
                {{ form.submit(class="btn-primary") }}
            </div>
        </form>
    </div>
</main>



<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
