{% extends 'layout.html' %}
{% block body %}
<style>
    th,td
{
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td
{
    padding: 5px 10px;
}

th
{
    background: #f4511e;
    color: white;
    padding: 5px 10px;
}

td:hover
{
    cursor: pointer;
    background: #f4511e;
    color: white;
}
.toprow {
  padding:50px;
}
#patientinfo {
  background-color: #ffffff;
}
#medicine {
  background-color: #f8f8ff;
}
#schedule {
  background-color: #f5f5f5;
}
#delete:hover {
    text-decoration: underline;
}
</style>
{#    {% if session['logged_in_staff'] == True %}#}
{#        <script type=text/javascript>#}
{#        document.addEventListener("DOMContentLoaded",docIsReady);#}
{#        function docIsReady(){#}
{#            document.getElementById("authen").style.visibility = "visible";#}
{#        }#}
{#        </script>#}
{#    {% else %}#}
{#        <script type=text/javascript>#}
{#        document.addEventListener("DOMContentLoaded",docIsReady);#}
{#        function docIsReady(){#}
{#            document.getElementById("authen").style.visibility = "hidden";#}
{#        }#}
{#        </script>#}
{#    {% endif %}#}
<ul class="nav nav-tabs" data-deep-link="true">
    <li class="active"><a data-toggle="tab" href="#home">Info</a></li>
    <li><a data-toggle="tab" href="#menu1">Schedule</a></li>
    <li><a data-toggle="tab" href="#menu2">History</a></li>
</ul>

<div class="tab-content">
<!-- PATIENT MEDICINE & DESCRIPTION -->
<div id="home" class="tab-pane fade in active">
    <div id="services" class="container-fluid text-center">
        <div id="patientinfo" class="container-fluid text-center" style="position:relative;">
            <div id="authen" style="position:absolute; top:0; right:0; font-size:20px; cursor:pointer;"><a style="color:limegreen;" href="/patient_info_editor/">(edit)</a></div>
{#                <br/> <a href="/patient_edit/{{eachpat.get_patient_id()}}">(update)</a> <br/>#}
          <h2> {{ eachpat.get_name() }} </h2>
            <img style="border-radius: 50%; height:250px; width:250px" src="../../static/images/{{ eachpat.get_image_name() }}" alt="{{ eachpat.get_name() }}">
          <h3> {{ eachpat.get_illness() }} </h3> <br>
              <p style="width: 600px;margin:auto"> {{ eachpat.get_patientdesc() }}</p>
        </div>
    </div>
    <div id="medicine" class="container-fluid text-center">
        <h2>Medicine</h2>
        <table align="center">
            <tr>
                <th>Medicine Name</th>
                <th>Medicine Description</th>
                <th>Medicine Dosage (ml)</th>
                <th>Side Effect (if applicable)</th>
                <th></th>
            </tr>
        {% for med in medicine %}
            <span id="{{ med.get_med_id() }}" style="visibility:hidden">{{ med.get_medTime() }}</span>
            <tr>
                <td>{{ med.get_medName() }}</td>
                <td>{{ med.get_medDesc() }}</td>
                <td>{{ med.get_medDosage() }}</td>
                <td>{{ med.get_sideEffect() }}</td>
                <td>
                    <form action="{{ url_for('med_time', patientid=session["user_id"], medid=med.get_med_id())}}" method="POST">
                        <input type="submit" value="Med Taken" class="btn btn-success">
                    </form>
                    <span id="{{ session['user_id'] }}{{ med.get_med_id() }}"></span>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
<div id="menu1" class="tab-pane fade">
<!-- schedule -->
    <div id="schedule" class="container-fluid text-center">
        <h2> Schedule </h2>
        <h4> Your timings </h4>
        <table width="80%" align="center" >
            <div id="head_nav">
                <tr>
                    <th class="toprow">Time</th>
                    <th class="toprow">Monday</th>
                    <th class="toprow">Tuesday</th>
                    <th class="toprow">Wednesday</th>
                    <th class="toprow">Thursday</th>
                    <th class="toprow">Friday</th>
                    <th class="toprow">Saturday</th>
                </tr>
            </div>

            <tr>
                <th style="text-align:center;">10:00 - 11:00</th>
                    <td>Breakfast</td>
                    <td>Breakfast</td>
                    <td>Breakfast</td>
                    <td>Breakfast</td>
                    <td>Breakfast</td>
                    <td>Breakfast</td>
            </tr>

            <tr>
                <th style="text-align:center;">11:00 - 12:00</th>
                    <td>Take Medicine (A)</td>
                    <td>Take Medicine (A)</td>
                    <td>Take Medicine (A)</td>
                    <td>Take Medicine (A)</td>
                    <td>Take Medicine (A)</td>
                    <td>Take Medicine (A)</td>
            </tr>

            <tr>
                <th style="text-align:center;">12:00 - 01:00</th>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
                    <td>Lunch</td>
            </tr>

            <tr>
                <th style="text-align:center;">01:00 - 02:00</th>
                    <td>Take Medicine (A&B)</td>
                    <td>Take Medicine (A&B)</td>
                    <td>Take Medicine (A&B)</td>
                    <td>Take Medicine (A&B)</td>
                    <td>Take Medicine (A&B)</td>
                    <td>Take Medicine (A&B)</td>
            </tr>

            <tr>
                <th style="text-align:center;">02:00 - 03:00</th>
                    <td>Toe surgery</td>
                    <td>-----</td>
                    <td>Medical checkup</td>
                    <td>-----</td>
                    <td>Medical checkup</td>
                    <td>-----</td>
            </tr>
        </table>
    </div>
</div>

<div id="menu2" class="tab-pane fade">
    <div class="container-fluid" style="color:black;">
        {% for his in history %}
            <span style="font-style: italic; color:gray;">{{ his.get_time() }}</span><br/>
            Name: {{ his.get_name() }} <br/>
            Ward: {{ his.get_ward() }} <br/>
            Illness: {{ his.get_illness() }} <br/>
            Description: {{ his.get_patientdesc() }} <br/> <br/>
        {% endfor %}
    </div>


</div>
</div>
{#var variable_name=document.querySelectorAll('.classname');#}
{#for(var i=0;i<variable_name.length;i++){#}
{#variable_name[i].(--your option--);#}
{#}#}
{% for med in medicine %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded",docIsReady);
    function docIsReady() {
            console.log("{{ session["user_id"] }}");
            var countdownTimer = document.getElementById("{{ med.get_med_id() }}").innerHTML;
            console.log(countdownTimer);

            var x = setInterval(function () {
                var timer = countdownTimer--;
                console.log(timer);
                var hours = Math.floor((timer / (60 * 60)));
                var minutes = Math.floor((timer / 60) % 60);
                var seconds = Math.floor((timer % 60));
                if (seconds < 10) {
                    seconds = "0" + seconds;
                }
                document.getElementById("{{ session['user_id'] }}{{ med.get_med_id() }}").innerHTML =  hours + ":" + minutes + ":" + seconds;
                if (timer <= 0) {
                    clearInterval(x);
                }
        }, 1000);
    }
</script>
{% endfor %}

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
