{% extends 'layout.html' %}
{% block body %}
<!-- PATIENT MEDICINE & DESCRIPTION -->
<div id="services" class="container-fluid text-center">
<div id="patientinfo" class="container-fluid text-center" style="position:relative;">
    <div style="position:absolute; top:0; right:0; color:limegreen; font-size:20px; cursor:pointer;">(edit)</div>
    <h2> MYCROFT TAN </h2>
  <h3> Diagnosis: Atherosclerosis (Coronary heart disease) </h3> <br>
  <p style="width: 600px;margin:auto"> Atherosclerosis is a disease in which plaque builds up inside your arteries. If blood flow to your heart muscle is reduced or blocked, you may have
    angina (chest pain or discomfort) or a heart attack.</p>
</div>

<div id="medicine" class="container-fluid text-center">
  <h2> Treatments & Medicine </h2>
  <h4> Possible treatments and medicine for your diagnosis. </h4>
  <h2> Possible medicines: </h2>
  <div class="row slideanim">

    <div class="col-sm-3">
      <img src="http://www.freeiconspng.com/uploads/medicine-icon-9.png" style="height:150px;width:170px;"/>
    </div>

    <div class="col-sm-6">
      <br>
      <p>Suspendisse finibus diam eros. Etiam non mi et nulla varius tincidunt eu vel elit. Ut facilisis pretium pulvinar. Aliquam at est iaculis, porttitor tellus sed, posuere lacus. Morbi diam odio, ullamcorper sed metus et, malesuada efficitur nisi. Vestibulum neque lectus, semper dictum vulputate at, sagittis eu ante. </p>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>Diuretics (water pills)</li>
        <li>Angiotensin-converting enzyme (ACE) inhibitors.</li>
        <li>Calcium channel blockers.</li>
      </ul>
    </div>
  </div>
</div>


<!-- schedule -->
<div id="schedule" class="container-fluid text-center">

    <h2> Schedule </h2>
    <h4> Your timings </h4>
    <div class="row slideanim">


    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th class="toprow">Time</th>
        <th class="toprow">Monday</th>
        <th class="toprow">Tuesday</th>
        <th class="toprow">Wednesday</th>
        <th class="toprow">Thursday</th>
        <th class="toprow">Friday</th>
        <th class="toprow">Saturday</th>
    </tr>
    </div>

    <tr>
        <th style="text-align:center;">10:00 - 11:00</th>

            <td>Breakfast</td>
            <td>Breakfast</td>
            <td>Breakfast</td>
            <td>Breakfast</td>
            <td>Breakfast</td>
            <td>Breakfast</td>

    </tr>

    <tr>
        <th style="text-align:center;">11:00 - 12:00</td>

            <td>Take Medicine (A)</td>
            <td>Take Medicine (A)</td>
            <td>Take Medicine (A)</td>
            <td>Take Medicine (A)</td>
            <td>Take Medicine (A)</td>
            <td>Take Medicine (A)</td>

    </tr>

    <tr>
        <th style="text-align:center;">12:00 - 01:00</td>

            <td>Lunch</td>
            <td>Lunch</td>
            <td>Lunch</td>
            <td>Lunch</td>
            <td>Lunch</td>
            <td>Lunch</td>


    </tr>

    <tr>
        <th style="text-align:center;">01:00 - 02:00</td>

            <td>Take Medicine (A&B)</td>
            <td>Take Medicine (A&B)</td>
            <td>Take Medicine (A&B)</td>
            <td>Take Medicine (A&B)</td>
            <td>Take Medicine (A&B)</td>
            <td>Take Medicine (A&B)</td>


    </tr>

    <tr>
        <th style="text-align:center;">02:00 - 03:00</td>

            <td>Toe surgery</td>
            <td>-----</td>
            <td>Medical checkup</td>
            <td>-----</td>
            <td>Medical checkup</td>
            <td>-----</td>

    </tr>
</table>

    </div>
</div>
</div>




<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
