{% extends 'layout_staff.html' %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
    <h1>Patient Details</h1>
{% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{#PATIENT_INFO UPDATE, NOT SURE HOW THIS WORKS BUT DEFINITELY NOT LIKE THIS!!! edit: actually IT IS like this!#}

<form method="POST" action ="">
    <div id="services" class="container-fluid text-center">
    <div id="patientinfo" class="container-fluid text-center"  style="position:relative;">
    <div style="position:absolute; top:0; right:0; font-size:20px; cursor:pointer;"><a id="edit" style="color:limegreen;" href="/patient_info/">(exit)</a></div>
        <div class="form-group">
            {{  render_field(form.name, class_="form-control", placeholder="Patient Name") }}
        </div>

        <div class="form-group">
           {{  render_field(form.illness, class="form-control", placeholder="E.g. Atherosclerosis (Coronary heart disease)") }}
        </div>


        <div class="form-group">
            {{ render_field(form.patientdesc, class_="form-control") }}
        </div>
    </div>

    <div id="medicine" class="container-fluid text-center">
      <h2> Treatments & Medicine </h2>
      <h4> Possible treatments and medicine for your diagnosis. </h4>
      <h2> Possible medicines: </h2>


        <div class="col-sm-3">
          <img src="http://www.freeiconspng.com/uploads/medicine-icon-9.png" style="height:150px;width:170px;"/>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
              {{ render_field(form.medicinedesc, class="form-control") }}
            </div>
        </div>

        <div class="col-sm-3">
            <div id="meds">
              <div class="form-group">
                {{  render_field(form.med1, class="form-control") }}
              </div>
              <div class="form-group">
                {{  render_field(form.med2, class="form-control") }}
              </div>
              <div class="form-group">
               {{  render_field(form.med3, class="form-control") }}
              </div>
            </div>
        </div>
    </div>
    </div>
<input type="submit" value="Update" class="btn btn-info"/>
</form>
{% endblock %}