{% extends 'layout.html' %}
{% block body %}
<!-- PATIENT MEDICINE & DESCRIPTION -->
<div id="services" class="container-fluid text-center">
<div id="patientinfo" class="container-fluid text-center" contenteditable="true" style="position:relative;">
<div style="position:absolute; top:0; right:0; color:limegreen; font-size:20px; cursor:pointer;">(exit)</div>
	<div class="form-group">
		<label class="form-control-label" for="name">Patient Name:</label>
		<input type="text" name="Name" id="name" class="form-control" placeholder="E.g. Mycroft Tan" required="required" size="40"/>
	</div>

	<div class="form-group">
		<label class="form-control-label" for="illness">Patient illness/Diagnosis:</label>
		<input type="text" name="Illness" id="illness" class="form-control" placeholder="E.g. Atherosclerosis (Coronary heart disease)" required="required" size="40"/>
	</div>


	<div class="form-group">
		<label class="form-control-label" for="illness_desc">Description of Illness:</label>
		<textarea name="desc" id="illness_desc" class="form-control" cols="50" rows="8" required="required" ></textarea>
	</div>
</div>

<div id="medicine" class="container-fluid text-center" contenteditable="true">
  <h2> Treatments & Medicine </h2>
  <h4> Possible treatments and medicine for your diagnosis. </h4>
  <h2> Possible medicines: </h2>


    <div class="col-sm-3">
      <img src="http://www.freeiconspng.com/uploads/medicine-icon-9.png" style="height:150px;width:170px;"/>
    </div>

    <div class="col-sm-6">
	<div class="form-group">
	  <label class="form-control-label" for="unknown">Description of Medicine:</label>
	  <textarea name="what_is_this" id="unknown" class="form-control" cols="50" rows="8" required="required" ></textarea>
	</div>
    </div>
    <div class="col-sm-3">
	  <div class="form-group">
		<label class="form-control-label" for="med1">Medicine 1:</label>
		<input type="text" name="Med" id="med1" class="form-control" placeholder="E.g. Med1" required="required" size="40"/>
	  </div>
	  <div class="form-group">
		<label class="form-control-label" for="med2">Medicine 2:</label>
		<input type="text" name="Med" id="med2" class="form-control" placeholder="E.g. Med2" required="required" size="40"/>
	  </div>
	  <div class="form-group">
		<label class="form-control-label" for="med3">Medicine 3:</label>
		<input type="text" name="Med" id="med3" class="form-control" placeholder="E.g. Med3" required="required" size="40"/>
	  </div>
	  <button class="btn btn-primary" type="button">Add row</button>
	  <button class="btn btn-danger" type="button">Delete row = hover over press 'X' on the right >>?</button>
    </div>
</div>


<!-- schedule -->
<div id="schedule" class="container-fluid text-center" contenteditable="true">

    <h2> Schedule </h2>
    <h4> Your timings </h4>


    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th class="toprow">Time</th>
        <th class="toprow">Monday</th>
        <th class="toprow">Tuesday</th>
        <th class="toprow">Wednesday</th>
        <th class="toprow">Thursday</th>
        <th class="toprow">Friday</th>
        <th class="toprow">Saturday</th>
    </tr>
    </div>

    <tr>
        <th style="text-align:center;">10:00 - 11:00</th>

            <td>On</td>
            <td>click</td>
            <td>=</td>
            <td>change</td>
            <td>then</td>
            <td>Submit?</td>

    </tr>

    <tr>
        <th style="text-align:center;">11:00 - 12:00</td>

            <td>
				<div class="form-group">
					<label class="form-control-label" for="tableedit">Or:</label>
					<input type="text" name="Med" id="tableedit" class="form-control" placeholder="E.g. Activity" required="required" size="40"/>
				</div>
			</td>

			<td>
				<div class="form-group">
					<label class="form-control-label" for="tableedit1">Use:</label>
					<input type="text" name="Med" id="tableedit1" class="form-control" placeholder="E.g. Activity" required="required" size="40"/>
				</div>
			</td><td>
				<div class="form-group">
					<label class="form-control-label" for="tableedit2">Input:</label>
					<input type="text" name="Med" id="tableedit2" class="form-control" placeholder="E.g. Activity" required="required" size="40"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label class="form-control-label" for="tableedit3">To:</label>
					<input type="text" name="Med" id="tableedit3" class="form-control" placeholder="E.g. Activity" required="required" size="40"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label class="form-control-label" for="tableedit4">Change:</label>
					<input type="text" name="Med" id="tableedit4" class="form-control" placeholder="E.g. Activity" required="required" size="40"/>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label class="form-control-label" for="tableedit5">Them?:</label>
					<input type="text" name="Med" id="tableedit5" class="form-control" placeholder="E.g. Activity" required="required" size="40"/>
				</div>
			</td>

    </tr>

    <tr>
        <th style="text-align:center;">12:00 - 01:00</td>

            <td>We</td>
            <td>can</td>
            <td>try</td>
            <td>contenteditable</td>
            <td>true</td>
            <td>too</td>


    </tr>

    <tr>
        <th style="text-align:center;">01:00 - 02:00</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


    </tr>

    <tr>
        <th style="text-align:center;">02:00 - 03:00</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

    </tr>
</table>
<button class="btn btn-primary" type="button" style="margin-top:10px;">More Button</button>
</div>
</div>




<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
