{% extends 'layout.html' %}
{% block body %}

<!-- Container (About Section) -->
<div id="pricing" class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <h2>******* Remote Doctor</h2><br>
	 <div style="background-color:black; height:500px; margin-left:10%;">
	  <div style="position:absolute; bottom:0; left:47%; margin-bottom:5px;">
		<a href="#">
          <span style="font-size:2.5em; padding:7.5px; background-color:azure; border-radius:50%;" class="glyphicon glyphicon-volume-up"></span>
        </a>
		<a href="#">
          <span style="font-size:2.5em; padding:7.5px; background-color:red; color:white; border-radius:50%; margin:0px 10px 0px 10px;" class="glyphicon glyphicon-earphone"></span>
        </a>
		<a href="#">
          <span style="font-size:2.5em; padding:7.5px; background-color:azure; border-radius:50%;" class="glyphicon glyphicon-facetime-video"></span>
        </a>
	 </div>
	 <div style="position:absolute; bottom:0; right:0; margin-right:2%; margin-bottom:5px;">
			<a href="#">
			  <span class="glyphicon glyphicon-fullscreen" style="font-size:2em"></span>
			</a>
		</div>
	</div>
    <!-- <div class="col-sm-11" style="margin-top:2%;">
	<div style="background-color:beige; height:400px;"><input type="text" style="position:absolute; bottom:0; width:80%; margin-left:7.5%"/></div>
    </div> -->
  </div>
</div>
</div>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
