{% extends 'layout.html' %}
{% block body %}
<style>
h1
{
    margin: 0cm 4cm 0cm 4cm;
}

    th,td
{
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #e3e3e3;
}

td
{
    padding: 5px 10px;
}

th
{
    background: #f4511e;
    color: white;
    padding: 5px 10px;
}

td:hover
{
    cursor: pointer;
    background: #f4511e;
    color: white;
}

</style>
{#    {% if session['logged_in_staff'] == True %}#}
{#        <script type=text/javascript>#}
{#        document.addEventListener("DOMContentLoaded",docIsReady);#}
{#        function docIsReady(){#}
{#            document.getElementById("authen").style.visibility = "visible";#}
{#        }#}
{#        </script>#}
{#    {% else %}#}
{#        <script type=text/javascript>#}
{#        document.addEventListener("DOMContentLoaded",docIsReady);#}
{#        function docIsReady(){#}
{#            document.getElementById("authen").style.visibility = "hidden";#}
{#        }#}
{#        </script>#}
{#    {% endif %}#}
{#<ul class="nav nav-tabs">#}
{#    <li class="active"><a data-toggle="tab" href="#home">Info</a></li>#}
{#    <li><a data-toggle="tab" href="#menu1">History</a></li>#}
{#</ul>#}



<div class="tab-content">
<!-- STAFF PROFILE -->
<div id="home" class="tab-pane fade in active">

<div class="container">
    <h1>Profile</h1>
  	<hr>
    <form method="POST" action="/staff_profile/">
	<div class="row">
      <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
{#          <img src="//placehold.it/100" >#}
            <img style="border-radius: 50%; height:250px; width:250px" src="../../static/images/{{ get_image_name }}" class="avatar img-circle" alt="avatar">
            </div>
        </div>

      <!-- edit form column -->
{#      {% if updatealert == TRUE %}#}
        <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            Update your profile.
        </div>
{#      {% endif %}#}
{#        <h3>Personal info</h3>#}

        <form method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">Name:</label>
                <div class="col-lg-8">
                    <input name="name" class="form-control" type="text" value={{ get_name }}>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-lg-3 control-label">NRIC:</label>
                <div class="col-lg-8">
                    <input name="nric" class="form-control" type="text" value={{ get_nric }} readonly>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-lg-3 control-label">Gender:</label>
                <div class="col-lg-8">
                    <input name="gender" class="form-control" type="text" value={{ get_gender }} readonly>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-lg-3 control-label">Birthday:</label>
                <div class="col-lg-8">
                    <input name="dob" class="form-control" type="text" value={{ get_dob }} readonly>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                    <input name="email" class="form-control" type="text" value={{ get_email }}>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-lg-3 control-label">Phone:</label>
                <div class="col-lg-8">
                    <input name="phone_no" class="form-control" type="text" value={{ get_phone_no }}>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-lg-3 control-label">Address:</label>
                <div class="col-lg-8">
                    <input name="address" class="form-control" type="text" value={{ get_address }}>
                </div>
            </div>
            <br><hr>

            <div class="form-group">
                <label class="col-md-3 control-label">Username:</label>
                <div class="col-md-8">
                    <input name="username" class="form-control" type="text" value={{ get_username }} readonly>
                </div>
            </div>
            <br><hr>
            <div class="form-group">
                <label class="col-md-3 control-label">Password:</label>
                <div class="col-md-8">
                    <input name="password" class="form-control" type="password" value= {{ get_password }} readonly>
                </div>
            </div>
            <br><hr>
            <!--
            <div class="form-group">
                <label class="col-md-3 control-label">Change password:</label>
                <div class="col-md-8">
                    <input class="form-control" type="password" value="">
                </div>
            </div>
            <br><hr>
            -->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-info" value="Update Profile">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                </div>
            </div>
        </form>
        </div>
    </div>
    </form>
<hr>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

    </div>
</div>
</div>
{% endblock %}