{% extends 'layout.html' %}
{% block body %}

<div class="members-count">-</div>
  <div class="members-list">-</div>
<div id="about">
<div class="container" id="commentBox" >
<h3>Consultation:</h3>
		<div id="comments">
			<div class="fixedDiv">
				<span class="fixedName"><b>(Trainee Dr.) Luke Lee</b></span> said:
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat porta eros iaculis tempor. In volutpat nunc semper venenatis luctus. Cras vel ornare dui, at pellentesque risus.</p>
				<div class="vuseless"><span class="useless" style="color:red;">Reply</span></div>
			</div>
			<div class="fixedDiv">
				<span class="fixedName"><b>Dr. Myron Wentz</b></span> said:
				<p>t sed porttitor dui, ac porta arcu. Nunc suscipit tellus nec risus sagittis porttitor. Phasellus non enim libero. In purus nisl, aliquet vitae orci vitae, efficitur lacinia augue. Vivamus ut quam porta, tempus lorem id, vestibulum nisi. Donec ut pretium elit. Curabitur sit amet arcu sapien. Cras ac metus in lectus laoreet viverra vestibulum et libero.</p>
				<div class="vuseless"><span class="useless" style="color:red;">Reply</span></div>
			</div>
			<div class="fixedDiv">
				<span class="fixedName"><b>(Trainee Nurse) Cassandra Lee</b></span> said:
				<p>Nam euismod diam nisl, ornare lacinia ante semper eget. Fusce molestie diam urna, vel dapibus purus ornare sed. Nam non congue sapien.</p>
				<div class="vuseless"><span class="useless" style="color:red;">Reply</span></div>
			</div>
			<div class="fixedDiv">
				<span class="fixedName"><b>Dr. Myron Wentz</b></span> said:
				<p>Morbi nulla sem, volutpat blandit neque sit amet, lacinia bibendum ligula. Quisque ut malesuada velit, in interdum sapien. Donec ut elementum est. Fusce eget ultrices nibh. Sed a metus eros. Aliquam imperdiet sit amet odio non consequat. Vestibulum venenatis tempus rutrum. Maecenas in ex a sem sagittis facilisis. Aenean pulvinar sollicitudin neque. Nullam tempor malesuada mollis. Aliquam erat volutpat. Curabitur velit lorem, efficitur at lacus dapibus, finibus pretium lacus. Mauris porta, lorem sed luctus hendrerit, libero lectus elementum sapien, sollicitudin elementum ipsum turpis non ex.</p>
				<div class="vuseless"><span class="useless" style="color:red;">Reply</span></div>
			</div>
		</div>
		<div class="form-group">
		<p>&nbsp;</p>
			<span id="daName" style="font-weight:bold"><input type="text" style="font-weight:normal; padding:5px;" id="userName" placeholder="Username"/></span>

			<textarea id="comment" placeholder="Type a message.." rows="5" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<button id="submit" class="btn btn-primary" onclick="submitComment()">Send</button>
			<button id="clear" style="display: none;" class="btn btn-danger" onclick="clearComment()">Clear</button>
		</div>
</div>
</div>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock %}
